{% extends "base.html.twig" %}
{% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('page2') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
{% block title %}Contact{% endblock %}
{% block body %}
<h1>Contact</h1>
<p>Tel: 04 76 37 21 19</p>
<p>Fax: 04 76 37 01 94</p>
<p>Email:</p><A HREF="mailto:alp.photo@orange.fr">alp.photo@orange.fr</A><br>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d174.67087304215173!2d5.67036231538942!3d45.53555877588289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478b1c9fdbd8b263%3A0xd6e269b1ff478043!2s2+Rue+du+Professeur+Trillat%2C+38480+Le+Pont-de-Beauvoisin!5e0!3m2!1sfr!2sfr!4v1566559873816!5m2!1sfr!2sfr"
    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <img src="{{ asset('build/001.JPG') }}" class="contact">
    <img src="{{ asset('build/002.JPG') }}" class="contact1">
    <img src="{{ asset('build/003.JPG') }}" class="contact2">
    <img src="{{ asset('build/007.JPG') }}" class="contact3">
{% endblock %}