{% extends 'base.html.twig' %}
{% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('page1') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Accueil</h1>
<h4>Bienvenue sur notre site web</h4>
<ul class="liste">
        <li>
                Reportage - photo video
        </li>
        <li>
                Developpement amateur/professionnel/numerique
        </li>
        <li>
                Identité : permis de conduire avec signature numerique/passeport/carte d'identité
        </li>
        <li>
                Vente de materiel
        </li>
</ul>
{% endblock %}