{% extends "base.html.twig" %}
{% block body %}
<h1>Ajouter une photo dans la galerie</h1>
{{ form_start(formGalery) }}

{{ form_row(formGalery.name, {'label': 'Nom de l\'image'}) }}
{{ form_row(formGalery.description, {'label': 'Description de l\'image'}) }}
{{ form_row(formGalery.imageFile, {'label': 'Image'}) }}<br>
{{ form_row(formGalery.categories, {'label': 'Catégorie'}) }}<br>
<br>
<button class="btn btn-outline-success" type="submit">Ajouter à la galerie</button>
<br>
<br>
<a href="/admin" class="btn btn-outline-primary">Retour</a>
{{ form_end(formGalery) }}
{% endblock %}