{% extends "base.html.twig" %}
{% block title %}Galerie{% endblock %}
{% block body %}
    <h1 class="galerie">Galerie</h1>
    {% for categorie in categories %}
        <a href={{path('categories', {'id' : categorie.id})}} class="btn btn-outline-primary"> {{categorie.name}} </a>
    {% endfor %}
{% endblock %}