{% extends "base.html.twig" %}
{% block title %}Galerie | {{categorie.name}} {% endblock %}
{% block body %}
    <h1>Galerie | {{categorie.name}} </h1>

    {% for photo in photos | reverse %}
        <h5>{{photo.name}}</h5>
        <p> {{photo.description}} </p>
        <img src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="" width="600"><br>
        <br>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{path('delete_image', {'id': photo.id})}}"
                onclick="return confirm('Etes-vous sûr de vouloir supprimer cette image ?')" class="btn btn-outline-danger">Supprimer
                l'image</a>
        {% endif %}
        <hr>

    {% endfor %}
        <a href="/galerie" class="btn btn-outline-primary">Retour</a>
    {% endblock %}
