<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <a class="navbar-brand" href="/"><img src="{{ asset('build/logoAlpPhoto.png') }}" alt="Logo" title="Logo"
                width="80" height="60"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{path('galerie')}}">Galerie</a>
                </li>
                <li class="nav-item">
                    <a href="{{path('contact')}}" class="nav-link">Contact</a>
                </li>
                {% if not app.user %}

                <li class="nav-item">
                    <a class="nav-link" href=" {{path('fos_user_registration_register')}} ">S'inscrire</a>
                </li>
                {% endif %}
                {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('fos_user_security_login')}}">Se connecter</a>
                </li>
                {% endif %}
                </li>

                {% if app.user %}

                <li class="nav-item">
                    <a href=" {{path('fos_user_profile_show')}} " class="nav-link">Profil</a>
                </li>
                <li class="nav-item">
                    <a href=" {{path('fos_user_security_logout')}} " class="nav-link">Se deconnecter</a>

                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a href="/admin" class="nav-link">Admin</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

</html>