{% extends "base.html.twig" %}

{% block body %}
{{ form_start(formImage) }}

{{ form_row(formImage.name, {'label': 'Nom de l\'image'}) }}
{{ form_row(formImage.description, {'label': 'Description de l\'image'}) }}
{{ form_row(formImage.imageFile, {'label': 'Image'}) }}<br>
    
        <br>
        <button class="btn btn-outline-success" type="submit">Ajouter l'image</button>
    {{ form_end(formImage) }}
<br>
    <a href="/profile" class="btn btn-outline-primary">Retour</a>
{% endblock %}