{% extends "base.html.twig" %}

{% block body %}

    {% for image in images | reverse %}

        {% if is_granted('POST_VIEW', image) %}
        <p>{{image.name}}</p>
        <p>{{image.description}}</p>
        <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="" width="600"><hr>
        {% endif %}

    {% endfor %}
    <a href="/profile" class="btn btn-outline-primary">Retour</a>
{% endblock %}