{% extends "base.html.twig" %}
{% block body %}
{{form_start(form)}}
{{form_row(form.name)}}
{{form_row(form.description)}}
{{form_row(form.imageFile)}}<br>
<button type="submit" class="btn btn-outline-info">Valider</button>
{{form_end(form)}}<br>
<a href="{{path('user_view', {'id': user.id})}}" class="btn btn-outline-primary">Retour</a>
{% endblock %}