{% extends "base.html.twig" %}

{% block body %}
{% for user in pagination %}
    <a href="{{path('user_view', {'id': user.id})}}" class="btn btn-outline-primary">{{user.username}}</a><br>
    <br>
{% endfor %}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
<a href="/admin" class="btn btn-outline-info">Retour</a>

{% endblock %}