{% extends "base.html.twig" %}

{% block body %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div><br>
        <input class="btn btn-outline-primary" type="submit" value="{{ 'Valider'|trans }}" />
    </div>
{{ form_end(form) }}
{% endblock %}