{% extends "base.html.twig" %}

{% block body %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Prenom</th>
        <th scope="col">Nom</th>
        <th scope="col">Mail</th>
        <th scope="col">Activé</th>
        <th scope="col">Rôles</th>
        <th scope="col">Rôles secondaire</th>
      </tr>
    </thead>
    <tbody>
{% for user in pagination %}
      <tr>
        <th scope="row">{{user.id}}</th>
        <td scope="row">{{user.username}}</td>
        <td scope="row">{{user.firstname}}</td>
        <td scope="row">{{user.email}}</td>
        {% if user.enabled == 1 %}
        <td scope="row">Oui</td>
        {% else %}
          <td scope="row">Non</td>
        {% endif %}
        
        {% for role in user.roles %}
        {% if role == 'ROLE_ADMIN' %}
        <td>Admin</td>
        {% else %}
          <td>Client</td>
        {% endif %}
        {% endfor %}
      </tr>
    </tbody>

{% endfor %}
</table>
{# Pagination de la page de gestion de user #}
<div class='navigation'>
  {{ knp_pagination_render(pagination) }}
</div>
{# Fin de la pagination #}
<br>
<br>
<a href="/admin" class="btn btn-outline-primary">Retour</a>
{% endblock %}
