{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<h1>Bienvenue sur le dashboard admin</h1><br>
<a href="/admin/galerie/add" class="btn btn-outline-info">Ajouter une photo dans la galerie</a><br>
<br>
<a href="/admin/categorie/add" class="btn btn-outline-info">Ajouter une categorie</a><br>
<br>
<a href="{{path('user_list')}}" class="btn btn-outline-info">Photo Utilisateur</a><br>
<br>
<a href="{{path('user_gestion')}}" class="btn btn-outline-info">Tableau utilisateurs</a>

{% endblock %}
