{% extends "base.html.twig" %}
{% block body %}
{% for image in images | reverse %}

{% if id == image.user %}

<h1>{{image.user}}</h1>
<p>{{image.name}}</p>
<p>{{image.description}}</p>
<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="" width="600"><br>
<br>
<a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="btn btn-outline-primary" target="blank">Telechargé</a>
<a href="{{path('photo_edit', {'id': image.id})}}" class="btn btn-outline-info">Editer</a><br>
<br>


{% endif %}

{% endfor %}
<a href="/admin/user/liste" class="btn btn-outline-primary">Retour</a>

{% endblock %}