{% extends "base.html.twig" %}
{% block body %}
<h1>Ajouter une categorie</h1>
{{ form_start(formCategorie) }}

        {{ form_row(formCategorie.name, {'label': 'Nom de la categorie'}) }}

    
        <br>
        <button class="btn btn-outline-success" type="submit">Ajouter la categorie</button><br>
        <br>
        <a href="/admin" class="btn btn-outline-primary">Retour</a>
    {{ form_end(formCategorie) }}
{% endblock %}