{% extends "base.html.twig" %}

{% block body %}
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div><br>
        <input class="btn btn-outline-primary" type="submit" value="{{ 'Valider'|trans }}" />
    </div>
{{ form_end(form) }}
{% endblock %}