{% extends "base.html.twig" %}


{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Profil{% endblock %}
{% block body %}
<h1>Mon profil</h1>
<div class="fos_user_user_show">
    <p>{{'Id' |trans }} : {{user.id}}</p>
    <p>{{ 'Nom d\'utilisateur'|trans }} : {{ user.username }}</p>
    <p>{{ 'Email'|trans }} : {{ user.email }}</p>
    <a href="/image/add" class="btn btn-outline-info">Ajouter une image</a><br>
    <br>
    <a href="/image/view" class="btn btn-outline-primary">Voir mes images</a><br>
    <br>
    {% if user.username != 'test' %}
    <a href="{{path('fos_user_change_password')}}" class="btn btn-danger">Changer le mot de passe</a>
    <br>
    <br>
    <a href="{{path('fos_user_profile_edit')}}" class="btn btn-outline-danger">Changer mon profile</a>
    
    {% endif %}
    
</div>
{% endblock %}