{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username">{{ 'Nom d\'utilisateur'|trans }}</label>
    <input class="form-control" placeholder="Nom d'utilisateur" type="text" id="username" name="_username"
        value="{{ last_username }}" required="required" autocomplete="username" />

    <label for="password">{{ 'Mot de passe'|trans }}</label>
    <input class="form-control" placeholder="Mot de passe" type="password" id="password" name="_password"
        required="required" autocomplete="Repeté le mot de passe" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'Se souvenir de moi'|trans }}</label>
    <br>
    <input class="btn btn-outline-primary" type="submit" id="_submit" name="_submit" value="{{ 'Valider'|trans }}" />
</form>
{% endblock %}