.contact{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    margin-bottom: 3%;
    margin-top: -33em;
    margin-left: 45em;
    display: flex;
    flex-wrap: wrap;
}
.contact1{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    margin-bottom: 3%;
    margin-top: -12em;
    margin-left: 60em;
    display: flex;
    flex-wrap: wrap;
}
.contact2{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    margin-bottom: 3%;
    margin-top: -1em;
    margin-left: 45em;
    display: flex;
    flex-wrap: wrap;
}
.contact3{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    margin-bottom: 3%;
    margin-top: -12em;
    margin-left: 60em;
    display: flex;
    flex-wrap: wrap;
}